# Ignore Rust/Cargo build artifacts
/target/
/**/target/
/lib/forge-std/

#python
venv
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
.Python
env/
ENV/
env.bak/
venv.bak/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.coverage
.tox/
.pyre/
.dmypy.json
.pytype/
__pypackages__/

# forge build stuff
cache/
out/